footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

footer a {
    background-color: var(--primary-color);
}

.footer__input:disabled {
    background-color: #f0f0f0;
}