/* Форма покупки билетов */
.ticket-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ticket-form__field {
  display: flex;
  flex-direction: column;
}

.ticket-form__label {
  font-size: 14px;
  margin-bottom: 5px;
}

.ticket-form__input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.ticket-form__input:focus {
  border-color: #007BFF;
  outline: none;
}

.ticket-form__submit {
  padding: 10px;
  background-color: var(--secondary-color);
}

.ticket-form__submit:hover {
  background-color: var(--primary-color);
}